@import 'fonts';
@import 'sharedStyles';

body.module-debug {
  #app .debug {
    .nav-container {
      text-align: center;
      .nav {
        background-color: @secondary-color;
        margin: 10px;
        button {
          color: @white;
          padding: 20px;
        }
      }
    }
  }
}
